html, body {
    height: 100%;
    margin: 0;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#app-content {
    flex-grow: 1;
    }
#main-footer{
    padding-top: 35vh;
}