html {
    margin: 0;
    /* for sticky footer */
    position: relative;
    min-height: 100%;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for sticky footer */
    margin-bottom: 60px; /* Margin bottom by footer height */
    }
/* #app-content {
    flex-grow: 1;
    } */
.footer{
    /* for sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2hv;
    max-height: 10vh; /* Set the fixed height of the footer here */
    line-height: 5vh; /* Vertically center the text there */
    background-color: pink;
    font-size: 0.9em;
    padding: 0.5em
}
.button {
    display: block;

    background: rgb(24, 153, 93);
    padding: 1vw;
    text-align: center;
    border-radius: 1em;
    color: white;
    font-weight: bold;
}

#landing-btn .button{
    margin: auto 2.5vw auto auto;
    max-width: 10vw;
    min-width: 7vw;
    min-height: 7vh;
    max-height:13vh;
    line-height: 3vh;
}
a.lightlink{
    color:#F5F5F5;
    font-size: 1.2em
}